---
layout: default
---

<div class="content-width xs-mx-auto xs-my3 gutters clearfix">

	<div class="js-left-col col xs-col-2">
		{% include left-col.html %}
	</div>

	<div class="col xs-col-7 clearfix">
		{% include main-col--wide.html %}
	</div>

	<div class="js-right-col col xs-col-3">
		{% include right-col.html %}
	</div>


</div>


<script>

	var prevHash;
	function onChangeHash() {
		var ms = 150;
		var hash = window.location.hash;

		if (hash === '#video') {
			$(".js-right-col .card-border").velocity("transition.slideLeftOut", {duration: ms, stagger: 50, display: 'block'});
			$(".js-left-col").velocity("transition.slideRightIn", {duration: ms, display: 'block'});

		} else if (prevHash === '#video') {
			$(".js-right-col .card-border").velocity("transition.slideLeftIn", {duration: ms, stagger: 50, display: 'block'});
			$(".js-left-col").velocity("transition.slideRightOut", {duration: ms, display: 'block'});
		}

		prevHash = hash;
	}



	onChangeHash();
	window.onhashchange = onChangeHash;
</script>
