---
layout: default
---

<div class="content-width xs-mx-auto xs-my3 gutters xs-relative clearfix">

	<div class="col xs-col-9 clearfix">
		{% include main-col.html %}
	</div>

	<div class="js-left-col col xs-col-3 xs-absolute xs-r0">
		{% include left-col.html %}
	</div>
	<div class="js-right-col col xs-col-3">
		<div>{% include right-col.html %}</div>
	</div>


</div>


<script>

	var prevHash;
	function onChangeHash() {
		var ms = 150;
		var hash = window.location.hash;

		if (hash === '#video') {
			$(".js-right-col .card-border").velocity({
					height: 0
				}, {
					duration: ms,
					complete: function() {
						$(".js-right-col").velocity({opacity: 0}, {duration: ms });
					}
				});
		} else if (prevHash === '#video') {
			$(".js-right-col .card-border").velocity("reverse");
			$(".js-right-col").velocity("reverse");
		}

		prevHash = hash;
	}



	onChangeHash();
	window.onhashchange = onChangeHash;
</script>
