---
layout: default
---

<!-- right rail module cards (for HP) collapse to reveal the vertical's subnav beneath -->

<div class="content-width xs-mx-auto xs-my3 xs-relative">

  <div class="xs-col-11 clearfix xs-mx-auto xs-relative">
  	<div class="col xs-col-8 clearfix">
  		{% include feed2-main-col.html %}
  	</div>

  	<div class="js-left-col col xs-col-4 xs-pl2 xs-absolute xs-r0">
  		{% include left-col.html %}
  	</div>

  	<div class="js-right-col col xs-col-4 xs-pl2 right-col-hide">
  		<div>{% include right-col.html %}</div>
  	</div>
  </div>


</div>


<script>

	var prevHash;
	function onChangeHash(immediate) {
		var ms = 150;
		var hash = window.location.hash;

		if (hash === '#video') {
			$(".js-right-col .card-border").velocity({
					height: 0
				}, {
					duration: ms,
					complete: function() {
						$(".js-right-col").velocity('transition.fadeOut', {duration: ms});
					}
				});
		} else if (prevHash === '#video') {
			$(".js-right-col .card-border").velocity("reverse");
			$(".js-right-col").velocity('transition.fadeIn', {duration: ms});
		}

		prevHash = hash;
	}


	function onLoad(immediate) {
		var ms = 150;
		var hash = window.location.hash;

		if (hash === '#video') {
			$(".js-right-col").css({display:'none'});
		} else {
			$(".js-right-col").css({display: 'block'});
			$(".js-right-col").velocity("reverse");
		}
	}


	onLoad();
	window.onhashchange = onChangeHash;
</script>



