---
layout: default
---

<div class="content-width xs-relative xs-mx-auto xs-my3 gutters clearfix">

	<!-- Vertical subnav slides down and in as the trending module becomes the vertical's trending module, and slides up to meet the subnav (the rest of the HP right rail modules slide out-->

	<div class="col xs-col-9 clearfix">
		{% include breaking-module.html %}
		{% include main-col--news.html %}
	</div>
	<div class="col xs-col-3 js-bottom-col">
		<div>{% include right-col--news.html %}</div>
	</div>

</div>

