<!-- Cover Partial  -->

  <!--Cover Header Image and Avatar-->

  <div class="xs-relative cover-header">
    <a href="/buzzfeed-prototypes/cover_2.html"><img class="xs-absolute rounded cover-avatar" src="images/thanksgiving-avatar.jpg" /></a>
  </div>

  <!--Page Title and Description-->

  <h1 class="xs-text-center bold xs-mb2"><a href="#" class="link-gray">Thanksgiving Hacks</a></h1>
  <p class="xs-col-11 sm-col-8 md-col-9 xs-mx-auto xs-mb3 sm-mb5 xs-text-center">Thanksgiving hacks that'll make you close your eyes, lean back and whisper "yesssss." Snack-sized videos and recipes you'll want to try.</p>

  <!--Content Wrapper-->

  <div class="clearfix xs-mx-auto xs-col-12 xs-p1 sm-col-10 sm-p0">

    <!--Card Column-->

    <div class="col xs-col-12 sm-col-8 sm-offset-1 md-col-10 md-offset-1">

      <!--Big Card-->

      <div class="xs-mb2 xs-border--lighter rounded fill-white">

        <div class="xs-p2">
          <a href="#"><img class="xs-float-right xs-relative rounded card-avatar" src="images/tasty.jpg" /></a>
          <h3 class="bold"><a class="link-gray" href="#">This Is The Easiest Way To Make Real Vegan Fettuccine Alfredo</a></h3>
        </div>

        <img src="images/vine.png" style="width:100%;">

        <div class="xs-p2 clearfix">
          <p class="xs-float-left text-gray--lighter">2,092,083 Views</p>
          <a class="xs-float-right" href="#">Share</a>
        </div>

      </div>

      <!--Small Card-->

      <div class="xs-relative xs-mb2 xs-border--lighter rounded fill-white">

        <a href="#" class="xs-absolute xs-t0 xs-b0 xs-l0 xs-col-3 small-card-image small-card-image--one">
        </a>

        <div class="xs-col-9 xs-offset-3 xs-p2">
          <h2 class="xs-mb1 text-4 bold"><a class="link-gray" href="#">These Mini Peanut Butter Cheesecakes Are The Epitome Of Food Porn</a></h2>
          <p class="text-5 text-gray--lightest">Sweet and salty at the same damn time.</p>
        </div>

      </div>

      <!--Small Card-->

      <div class="xs-relative xs-mb2 xs-border--lighter rounded fill-white">

        <a href="#" class="xs-absolute xs-t0 xs-b0 xs-l0 xs-col-3 small-card-image small-card-image--three">
        </a>

        <div class="xs-col-9 xs-offset-3 xs-p2">
          <h3 class="xs-mb1 text-4 bold"><a class="link-gray" href="#">This Cheesy Mashed Cauliflower Is What Heaven Looks Like</a></h3>
          <p class="text-5 text-gray--lightest">Absolutely divine.</p>
        </div>

      </div>

      <!--Small Card-->

      <div class="xs-relative xs-mb2 xs-border--lighter rounded fill-white">

       <a href="#" class="xs-absolute xs-t0 xs-b0 xs-l0 xs-col-3 small-card-image small-card-image--two">
       </a>

        <div class="xs-col-9 xs-offset-3 xs-p2">
          <h2 class="xs-mb1 text-4 bold"><a class="link-gray" href="#">The One Way You Should Be Using Nutella</a></h2>
          <p class="text-5 text-gray--lightest">Nutella + anything = LIFE!</p>
        </div>

      </div>

      <!--Big Card-->

      <div class="xs-mb2 xs-border--lighter rounded fill-white">

        <div class="xs-p2">
          <a href="#"><img class="xs-float-right xs-relative rounded card-avatar" src="images/tasty.jpg" /></a>
          <h3 class="bold"><a class="link-gray" href="#">Tomato Soup Bread Bowl</a></h3>
        </div>

        <img src="images/vine.png" style="width:100%;">

        <div class="xs-p2 clearfix">
          <p class="xs-float-left text-gray--lighter">2,092,083 Views</p>
          <a class="xs-float-right" href="#">Share</a>
        </div>

      </div>


    <!--End of Card Column-->

    </div>








