<!--  Main Col That Serves feed.html -->

  <!--Non Bundles-->

  <div class="xs-col-11 xs-mx-auto">

    <!--Big Video Card-->
    <div class="xs-mb2 box-shadow--bottom rounded fill-white">

      <div class="xs-p2">
        <a href="#" class="xs-float-right xs-relative link-gray card-avatar">
          <img class="xs-mr1 xs-align-middle rounded card-avatar__img" src="https://s-media-cache-ak0.pinimg.com/236x/63/93/6d/63936db682a29ee81f764c4d2617bc79.jpg" />
          <span class="xs-relative text-2 text-gray--lightest">&rsaquo;</span>
        </a>
        <h2 class="bold"><a class="link-gray" href="#">When You Just Can't Focus</a></h2>
      </div>

      <div class="video-container">
        <iframe width="100%" height="332" src="https://www.youtube.com/embed/Trb_fRD5wnY?rel=0&autoplay=0" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="xs-p2 text-5 clearfix">
        <p class="xs-float-left text-gray--lightest">2,092,083 Views</p>
        {% include share-link.html %}
      </div>
    </div>

    <!--Small Promoted Card-->
    <div class="xs-relative xs-mb2 box-shadow--bottom rounded fill-white">

      <a href="#" class="xs-absolute xs-t0 xs-b0 xs-l0 xs-col-3 small-card" style="background-image:url(https://ak-hdl.buzzfed.com/static/2016-01/5/15/enhanced/webdr02/enhanced-31887-1452024988-2.png)"></a>

      <div class="xs-col-9 xs-offset-3 xs-p2">

        <h2 class="xs-mb1 text-4 bold"><a class="link-gray" href="#">13 Healthy Recipes You AND Your Kids Will Actually Love</a></h2>
				<p class="text-5 text-gray--lightest">Because all we want is our children to get through dinner without a vegetable-induced meltdown.</p>

        <div class="clearfix ad-unit xs-mt1">
          <a href="#" class="xs-float-left">
            <img src="https://s3-ak.buzzfed.com/static/2016-01/13/19/user_images/webdr03/meganking-v2-12156-1452732883-3_large.png" class="ad-unit__avatar">
          </a>
          <div class="xs-relative ad-unit__text">
            <p class="text-7 orange text-orange bold caps">Promoted by</p>
            <h3 class="text-5 bold"><a href="#">American Heart Association</a></h3>
          </div>
        </div>

      </div>
    </div>

    <!--Small Card-->
    <div class="xs-relative xs-mb2 box-shadow--bottom rounded fill-white">

      <a href="#" class="xs-absolute xs-t0 xs-b0 xs-l0 xs-col-3 small-card" style="background-image:url(https://ak-hdl.buzzfed.com/static/2016-01/21/17/enhanced/webdr15/enhanced-buzz-wide-6993-1453416953-17.jpg)"></a>

      <div class="xs-col-9 xs-offset-3 xs-p2">
        <h2 class="xs-mb1 text-4 bold"><a class="link-gray" href="#">The Ways We Tried To Erase Each Other</a></h2>
        <p class="text-5 text-gray--lightest">Months after I voided my ex, he voided our relationship.</p>
      </div>
    </div>

    <!--Small Card-->
    <div class="xs-relative xs-mb2 box-shadow--bottom rounded fill-white">

      <a href="#" class="xs-absolute xs-t0 xs-b0 xs-l0 xs-col-3 small-card" style="background-image:url(https://s3-static-ak.buzzfed.com/static/2016-01/21/9/campaign_images/webdr08/mid-00s-teen-girl-obsessions-2-1061-1453386890-3.jpg)"></a>

      <div class="xs-col-9 xs-offset-3 xs-p2">
        <h2 class="xs-mb1 text-4 bold"><a class="link-gray" href="#">24 Forgotten Trends All Mid-'00s Teen Girls Were Slightly Obsessed With</a></h2>
        <p class="text-5 text-gray--lightest">Your hair didn't look good unless you had two greasy strands framing your face.</p>
      </div>
    </div>

    <!--Big Card-->
    <div class="xs-mb2 box-shadow--bottom rounded fill-white">

      <div class="xs-p2 clearfix">
        <span class="xs-pl2 xs-pb2 xs-float-right bold text-5 text-pink">
        <svg class="trending-icon xs-mr1" width="512" height="512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M480.026 20l-212.328 85.658 84.162 48.587-79.503 137.7-137.693-79.502L-1 447.418l75.985 43.874 91.79-158.99 137.7 79.495L427.853 198.12l84.146 48.586L480.026 20z" fill="#eb2649" fill-rule="evenodd"/></svg>Trending
        </span>
        <h2 class="col xs-col-10 xs-float-left bold"><a class="link-gray" href="#">This Is The Falkor Animal That Every "NeverEnding Story" Fan Needs</a></h2>
      </div>

      <a href="#"><img src="https://ak-hdl.buzzfed.com/static/2016-01/19/10/enhanced/webdr04/enhanced-24105-1453218501-6.jpg" style="width:100%;"></a>

      <div class="xs-p2 text-5 clearfix">
        <p class="xs-float-left text-gray--lightest">2,092,083 Views</p>
        {% include share-link.html %}
      </div>
    </div>

    <!--Small Card-->
    <div class="xs-relative xs-mb2 box-shadow--bottom rounded fill-white">

      <a href="#" class="xs-absolute xs-t0 xs-b0 xs-l0 xs-col-3 small-card" style="background-image:url(https://s3-static-ak.buzzfed.com/static/2016-01/23/15/campaign_images/webdr10/when-true-stories-become-quirky-indie-dramedies-2-22749-1453582287-1.jpg)"></a>

      <div class="xs-col-9 xs-offset-3 xs-p2">
        <h2 class="xs-mb1 text-4 bold"><a class="link-gray" href="#">The Danger Of True Stories Becoming Quirky Indie Dramedies</a></h2>
        <p class="text-5 text-gray--lightest">The 2016 Sundance Film Festival opens with a cancer saga that shows how difficult it can be to fit real pain into what's become a familiar formula.</p>
      </div>
    </div>

    <!--Small Promoted Card-->
    <div class="xs-relative xs-mb2 box-shadow--bottom rounded fill-white">

      <a href="#" class="xs-absolute xs-t0 xs-b0 xs-l0 xs-col-3 small-card" style="background-image:url(https://s3-ak.buzzfed.com/static/2015-12/23/13/campaign_images/webdr11/emotional-stages-of-applying-for-financial-aid-2-20564-1450893767-3.jpg)"></a>

      <div class="xs-col-9 xs-offset-3 xs-p2">

        <h2 class="xs-mb1 text-4 bold"><a class="link-gray" href="#">14 Truths About Applying For Financial Aid</a></h2>
        <p class="text-5 text-gray--lightest">Don’t fear the FAFSA®! Use the new FAFSA Assistant from Discover Student Loans for tips and advice to help you get ready.</p>

        <div class="clearfix ad-unit xs-mt1">
          <a href="#" class="xs-float-left">
            <img src="https://s3-ak.buzzfed.com/static/2015-06/19/15/user_images/webdr09/annabellenyst-v2-18784-1434743710-1_large.jpg" class="ad-unit__avatar">
          </a>
          <div class="xs-relative ad-unit__text">
            <p class="text-7 orange text-orange bold caps">Promoted by</p>
            <h3 class="text-5 bold"><a href="#">Discover Student Loans</a></h3>
          </div>
        </div>

      </div>
    </div>

    <!--Small Card-->
    <div class="xs-relative xs-mb2 box-shadow--bottom rounded fill-white">

      <a href="#" class="xs-absolute xs-t0 xs-b0 xs-l0 xs-col-3 small-card" style="background-image:url(https://s3-static-ak.buzzfed.com/static/2016-01/23/13/campaign_images/webdr01/david-cameron-called-a-c-in-david-camerons-favour-2-32083-1453573563-0.jpg)"></a>

      <div class="xs-col-9 xs-offset-3 xs-p2">
        <h2 class="xs-mb1 text-4 bold"><a class="link-gray" href="#">The British Prime Minister Was Called A Cunt On His Favorite T.V. Show</a></h2>
        <p class="text-5 text-gray--lightest">"You look like a cunt."</p>
      </div>
    </div>
  </div>

  <!--Bundle 3-Up-->
  <div class="xs-mb2 xs-px1 bundle-header--blue box-shadow--bottom rounded fill-white">

    <h2 class="xs-inline-block xs-pl2 xs-pr6 xs-pt2 bold"><a href="#">BuzzFeed Broke</a></h2>
    <a href="#" class="bold xs-float-right xs-mr2 xs-mt3">Get More Broke &rsaquo;</a>

    <div class="xs-p2 xs-pb3 clearfix">

      <div class="col xs-col-9 xs-pr3">
        <div class="video-container xs-mb1">
          <iframe width="854" height="480" src="https://www.youtube.com/embed/jv0_KwvbRZ0" frameborder="0" allowfullscreen></iframe>
        </div>
        {% include share-link.html %}
        <h3 class="bold"><a href="#" class="link-gray">When The Wifi Won't Connect</a></h3>
        <div class="text-5 clearfix">
          <p class="xs-float-left text-gray--lightest">2,092,083 Views</p>
        </div>
      </div>

      <div class="col xs-col-3">

        <div class="xs-mb2">
          <a href="#" class="link-gray">
            <div class="xs-relative">
            	<span class="play-icon xs-absolute xs-b2 xs-r1"><span class="play"></span></span>
              <img src="https://ak-hdl.buzzfed.com/static/2015-12/29/14/enhanced/webdr06/enhanced-29490-1451416289-5.png" width="100%">
            </div>
            <h4 class="text-6 bold">This Is What Life Looks Like When You Owe Your Entire Life To Student Loan Debt</h4>
          </a>
        </div>

        <div>
          <a href="#" class="link-gray">
            <div class="xs-relative">
            	<span class="play-icon xs-absolute xs-b2 xs-r1"><span class="play"></span></span>
              <img src="http://i.imgur.com/HeymLL2.jpg" width="100%">
            </div>
            <h4 class="text-6 bold">The Feel When Your Periods All Sync Up</h4>
          </a>
        </div>

      </div>
    </div>
  </div>

  <!--Non Bundles-->
  <div class="xs-col-11 xs-mx-auto">

    <!--Small Card-->
    <div class="xs-relative xs-mb2 box-shadow--bottom rounded fill-white">

      <a href="#" class="xs-absolute xs-t0 xs-b0 xs-l0 xs-col-3 small-card" style="background-image:url(https://s3-static-ak.buzzfed.com/static/2016-01/23/15/campaign_images/webdr10/when-true-stories-become-quirky-indie-dramedies-2-22749-1453582287-1.jpg)"></a>

      <div class="xs-col-9 xs-offset-3 xs-p2">
        <h2 class="xs-mb1 text-4 bold"><a class="link-gray" href="#">The Danger Of True Stories Becoming Quirky Indie Dramedies</a></h2>
        <p class="text-5 text-gray--lightest">The 2016 Sundance Film Festival opens with a cancer saga that shows how difficult it can be to fit real pain into what's become a familiar formula.</p>
      </div>
    </div>

    <!--Small Promoted Card-->
    <div class="xs-relative xs-mb2 box-shadow--bottom rounded fill-white">

      <a href="#" class="xs-absolute xs-t0 xs-b0 xs-l0 xs-col-3 small-card" style="background-image:url(https://s3-ak.buzzfed.com/static/2015-12/23/13/campaign_images/webdr11/emotional-stages-of-applying-for-financial-aid-2-20564-1450893767-3.jpg)"></a>

      <div class="xs-col-9 xs-offset-3 xs-p2">

        <h2 class="xs-mb1 text-4 bold"><a class="link-gray" href="#">14 Truths About Applying For Financial Aid</a></h2>
        <p class="text-5 text-gray--lightest">Don’t fear the FAFSA®! Use the new FAFSA Assistant from Discover Student Loans for tips and advice to help you get ready.</p>

        <div class="clearfix ad-unit xs-mt1">
          <a href="#" class="xs-float-left">
            <img src="https://s3-ak.buzzfed.com/static/2015-06/19/15/user_images/webdr09/annabellenyst-v2-18784-1434743710-1_large.jpg" class="ad-unit__avatar">
          </a>
          <div class="xs-relative ad-unit__text">
            <p class="text-7 orange text-orange bold caps">Promoted by</p>
            <h3 class="text-5 bold"><a href="#">Discover Student Loans</a></h3>
          </div>
        </div>

      </div>
    </div>

    <!--Small Card-->
    <div class="xs-relative xs-mb2 box-shadow--bottom rounded fill-white">

      <a href="#" class="xs-absolute xs-t0 xs-b0 xs-l0 xs-col-3 small-card" style="background-image:url(https://s3-static-ak.buzzfed.com/static/2016-01/23/13/campaign_images/webdr01/david-cameron-called-a-c-in-david-camerons-favour-2-32083-1453573563-0.jpg)"></a>

      <div class="xs-col-9 xs-offset-3 xs-p2">
        <h2 class="xs-mb1 text-4 bold"><a class="link-gray" href="#">The British Prime Minister Was Called A Cunt On His Favorite T.V. Show</a></h2>
        <p class="text-5 text-gray--lightest">"You look like a cunt."</p>
      </div>
    </div>

    <!--Small Card-->
    <div class="xs-relative xs-mb2 box-shadow--bottom rounded fill-white">

      <a href="#" class="xs-absolute xs-t0 xs-b0 xs-l0 xs-col-3 small-card" style="background-image:url(https://s3-static-ak.buzzfed.com/static/2016-01/23/15/campaign_images/webdr10/when-true-stories-become-quirky-indie-dramedies-2-22749-1453582287-1.jpg)"></a>

      <div class="xs-col-9 xs-offset-3 xs-p2">
        <h2 class="xs-mb1 text-4 bold"><a class="link-gray" href="#">The Danger Of True Stories Becoming Quirky Indie Dramedies</a></h2>
        <p class="text-5 text-gray--lightest">The 2016 Sundance Film Festival opens with a cancer saga that shows how difficult it can be to fit real pain into what's become a familiar formula.</p>
      </div>
    </div>

    <!--Small Promoted Card-->
    <div class="xs-relative xs-mb2 box-shadow--bottom rounded fill-white">

      <a href="#" class="xs-absolute xs-t0 xs-b0 xs-l0 xs-col-3 small-card" style="background-image:url(https://s3-ak.buzzfed.com/static/2015-12/23/13/campaign_images/webdr11/emotional-stages-of-applying-for-financial-aid-2-20564-1450893767-3.jpg)"></a>

      <div class="xs-col-9 xs-offset-3 xs-p2">

        <h2 class="xs-mb1 text-4 bold"><a class="link-gray" href="#">14 Truths About Applying For Financial Aid</a></h2>
        <p class="text-5 text-gray--lightest">Don’t fear the FAFSA®! Use the new FAFSA Assistant from Discover Student Loans for tips and advice to help you get ready.</p>

        <div class="clearfix ad-unit xs-mt1">
          <a href="#" class="xs-float-left">
            <img src="https://s3-ak.buzzfed.com/static/2015-06/19/15/user_images/webdr09/annabellenyst-v2-18784-1434743710-1_large.jpg" class="ad-unit__avatar">
          </a>
          <div class="xs-relative ad-unit__text">
            <p class="text-7 orange text-orange bold caps">Promoted by</p>
            <h3 class="text-5 bold"><a href="#">Discover Student Loans</a></h3>
          </div>
        </div>

      </div>
    </div>
  </div>
