
<div class="xs-p1 rounded box-shadow--bottom xs-mb2 vertical-subnav">
	<ul class="list-unstyled bold clearfix xs-ml1 text-5">
		<li class="xs-my1"><a href="#" class="link-blue text-4">All Videos</a></li>
		<li class="xs-my1"><a href="#" class="link-gray">Tasty</a></li>
		<li class="xs-my1"><a href="#" class="link-gray">Broke</a></li>
		<li class="xs-my1"><a href="#" class="link-gray">The Try Guys</a></li>
		<li class="xs-my1"><a href="#" class="link-gray">Whine About It</a></li>
		<li class="xs-my1"><a href="#" class="link-gray">Creepy</a></li>
		<li class="xs-my1"><a href="#" class="link-gray">IRL</a></li>
	</ul>
</div>
