<!-- Regular right col, but news focused  -->


	 <!--Ads-->
	 <div class="rounded-top card-border promoted-header--orange xs-mb2 box-shadow--bottom">

	   <div class="xs-p2 rounded-bottom fill-white">
	     <h2 class="xs-mb1 text-5 bold"><a href="#" class="link-gray bold">11 Reasons Why Ellen Is A National Treasure</a></h2>
	     <a href="#"><img src="https://s3-ak.buzzfed.com/static/2016-01/8/18/campaign_images/webdr09/reasons-why-ellen-is-a-national-treasure-2-6046-1452294630-5_wide.jpg" width="100%" class="xs-mb1"></a>
	     <div class="clearfix ad-unit">
	       <a href="#" class="xs-float-left">
	         <img src="https://s3-ak.buzzfed.com/static/2014-12/17/11/user_images/webdr09/jaketapleshay-22313-1418833934-10_large.jpg" class="ad-unit__avatar">
	       </a>
	       <div class="xs-relative ad-unit__text">
	         <p class="text-7 orange text-orange bold caps">Promoted</p>
	         <h3 class="text-5 bold"><a href="#">Ellen's Design Challenge</a></h3>
	       </div>
	     </div>
	 </div>

	</div>

	<!-- QCU News -->
	<div class="rounded-top card-border news-header--red">
	  <div class="xs-relative xs-mb2 rounded-bottom fill-white xs-p2 box-shadow--bottom">

	    <h3 class="slab xs-mb2"> In The News Today</h3>

	    <a href="#" class="link-gray xs-block xs-relative">
	      <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-02/16/15/campaign_images/webdr02/no-sick-leave-at-restaurants-means-more-sick-cust-2-16965-1455653221-0_wide.jpg" width="100%">
	    </a>
	    <h4 class="slab line-height--reset xs-mb1"><a class="bold link-gray" href="#">No Sick Leave At Restaurants Means More Sick Customers</a></h4>

	    <ul class="list-unstyled">
	      <li class="text-5 xs-py1 xs-border-bottom">
	        <a href="#" class="link-gray">American Airlines Is Suing Gogo Over Its Crappy Wi-Fi</a>
	      </li>
	      <li class="text-5 xs-py1 xs-border-bottom">
	        <a href="#" class="link-gray">Texas Executes Man For 1990 Murder</a>
	      </li>
	      <li class="text-5 xs-pt1 xs-pb1">
	        <a href="#" class="link-gray">In The New Age Of App TV, Minority Media Might Lose</a>
	      </li>
	    </ul>

	  </div>
	</div>

  <!-- News Event Module -->
  <div class="rounded-top card-border news-header--blue">
    <div class="xs-relative xs-mb2 rounded-bottom fill-white xs-p2 box-shadow--bottom">

      <h3 class="slab xs-mb2"><a class="link-gray" href="#">Presidential Campaign 2016</a></h3>
	      <a href="#" class="link-gray xs-block xs-relative">
	        <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-02/15/9/enhanced/webdr13/enhanced-buzz-10235-1455547046-7.jpg" width="100%">
	      </a>
	      <h4 class="xs-mb2 slab line-height--reset"><a class="bold link-gray" href="#">How Scalia's Death Could Reshape The 2016 Presidential Campaign</a></h4>
	      <ul class="list-unstyled xs-pt1">
		      <li class="xs-mb1 xs-block xs-relative clearfix">
		      	<a href="#" class="col xs-col-4 xs-pr1"><img src="https://s3-static-ak.buzzfed.com/static/2016-02/3/11/campaign_images/webdr06/rand-paul-drops-out-of-presidential-race-2-32211-1454516065-0.jpg"</a>
		        <a href="#" class="col xs-col-8 xs-inline-block text-5 bold link-gray">Rand Paul Drops Out Of Presidential Race</a>
		      </li>
	        <li class="xs-block xs-relative clearfix">
	        	<a href="#" class="col xs-col-4 xs-pr1"><img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-02/16/18/campaign_images/webdr13/everything-you-need-to-know-about-what-happens-no-2-14887-1455664469-9.jpg"</a>
	          <a href="#" class="col xs-col-8 xs-inline-block text-5 bold link-gray">What Happens Now With The Supreme Court?</a>
	        </li>
	      </ul>

    </div>
  </div>

  <!-- Sponsored Package -->
<!--   <div class="rounded-top card-border trending-header--purple">

    <div class="xs-mb2 xs-p2 rounded-bottom fill-white clearfix box-shadow--bottom">
      <h3 class="bold" style="margin-bottom:3px;">BuzzFeed Tasty</h3>
      <p class="xs-mb2 text-6 orange text-orange bold">Promoted By<a href="#" class="text-6 bold" style="margin-left:.25rem;position:relative;top:1px">Rachel Ray</a></p>
      <a href="#" class="link-gray xs-block xs-relative">
      	<span class="play-icon xs-absolute xs-b3 xs-r2"><span class="play"></span></span>
        <img src="https://s3-static-ak.buzzfed.com/static/2016-01/25/10/campaign_images/webdr04/7-dinners-to-make-this-week-2-5572-1453737462-1_wide.jpg" class="xs-mb1" width="100%">
      </a>
      <h4 class="xs-mb2"><a class="bold link-gray" href="#">Slow Cooker Honey Garlic Chicken</a></h4>

      <ul class="list-unstyled">
        <li class="xs-block xs-relative clearfix xs-mb1">
        	<span class="play-icon play-icon--small xs-inline-block xs-float-left xs-mr1"><span class="play play--small"></span></span>
          <a href="#" class="col xs-col-10 xs-inline-block text-5 bold link-gray line-height--reset">Buffalo Chicken Potstickers</a>
        </li>
        <li class="xs-block xs-relative clearfix">
          <span class="play-icon play-icon--small xs-inline-block xs-float-left xs-mr1"><span class="play play--small"></span></span>
          <a href="#" class="col xs-col-10 xs-inline-block text-5 bold link-gray line-height--reset">Cheese Shell Mini Tacos</a>
        </li>
      </ul>
    </div>
  </div>
 -->
  <!-- Trending Now -->
  <div class="rounded-top card-border trending-header--pink">

    <div class="xs-mb3 xs-p2 rounded-bottom box-shadow--bottom fill-white clearfix">

      <h4 class="bold">
      <svg class="trending-icon xs-mr1" width="512" height="512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M480.026 20l-212.328 85.658 84.162 48.587-79.503 137.7-137.693-79.502L-1 447.418l75.985 43.874 91.79-158.99 137.7 79.495L427.853 198.12l84.146 48.586L480.026 20z" fill="#eb2649" fill-rule="evenodd"/></svg>Trending Now
      </h4>

      <div class="xs-pt2 clearfix">
        <ul class="list-unstyled">
          <li class="clearfix xs-mb1">
            <a href="#" class="xs-relative col xs-col-5 xs-pr1">
              <span class="xs-absolute xs-px1 text-5 fill-red text-white bold">1</span>
              <img src="https://s3-ak.buzzfed.com/static/2016-01/22/20/campaign_images/webdr11/we-know-what-your-favorite-vice-is-based-on-your--2-26402-1453512605-5.jpg" width="100%">
            </a>
            <div class="col xs-col-7">
              <a href="#" class="bold text-5 link-gray xs-inline-block">Can We Guess Your Favorite Vice Based On Your Habits?</a>
            </div>
          </li>

          <li class="clearfix xs-mb1">
            <a href="#" class="xs-relative col xs-col-5 xs-pr1">
              <span class="xs-absolute xs-px1 text-5 fill-red text-white bold">2</span>
              <img src="https://s3-static-ak.buzzfed.com/static/2016-01/22/11/campaign_images/webdr14/how-totally-obsessed-with-nutella-are-you-2-25663-1453478802-5.jpg" width="100%">
            </a>
            <div class="col xs-col-7">
              <a href="#" class="bold text-5 link-gray xs-inline-block">How Obsessed With Nutella Are You?</a>
            </div>
          </li>

          <li class="clearfix xs-mb1">
            <a href="3" class="xs-relative col xs-col-5 xs-pr1">
              <span class="xs-absolute xs-px1 text-5 fill-red text-white bold">3</span>
              <img src="https://s3-static-ak.buzzfed.com/static/2016-01/22/8/campaign_images/webdr01/be-a-pie-2-13253-1453470554-14.jpg" width="100%">
            </a>
            <div class="col xs-col-7">
              <a href="#" class="bold text-5 link-gray xs-inline-block">24 Hilarious Tweets That Are The Story Of Your Life</a>
            </div>
          </li>

          <li class="clearfix xs-mb1">
           <a href="#" class="xs-relative col xs-col-5 xs-pr1">
              <span class="xs-absolute xs-px1 text-5 fill-red text-white bold">4</span>
              <img src="https://s3-static-ak.buzzfed.com/static/2016-01/23/17/campaign_images/webdr06/13-parts-of-your-body-you-didnt-know-had-names-2-4269-1453588134-1.jpg" width="100%">
            </a>
            <div class="col xs-col-7">
              <a href="#" class="bold text-5 link-gray xs-inline-block">13 Body Parts You Didn't Know Had Names</a>
            </div>
          </li>

          <li class="clearfix xs-mb1">
            <a href="#" class="xs-relative col xs-col-5 xs-pr1">
              <span class="xs-absolute xs-px1 text-5 fill-red text-white bold">5</span>
              <img src="https://s3-static-ak.buzzfed.com/static/2016-01/22/17/campaign_images/webdr12/the-most-powerful-photos-of-this-week-jan-22-2-25115-1453500910-19.jpg" width="100%">
            </a>
            <div class="col xs-col-7">
              <a href="#" class="bold text-5 link-gray xs-inline-block">22 Of The Most Powerful Photos Of This Week</a>
            </div>
          </li>
        </ul>
      </div>

      <!--THIS SNIPPET TELLS THE ADS BELOW TO STICK WHEN THE BOTTOM OF TRENDING HITS THE TOP OF THE PAGE-->
      <div id="sticky-anchor"></div>
      <!--END OF STICKY SNIPPET-->

    </div>
  </div>

  <!-- Latest Buzz -->
	<!-- <div class="rounded-top card-border latest-buzz-header--blue">

    <div class="xs-mb3 xs-p2 rounded-bottom fill-white clearfix">

      <h4 class="bold">Latest Buzz</h4>

      <div class="xs-pb1 xs-pt2 clearfix">
        <ul class="list-unstyled">
          <li class="clearfix xs-mb1">
            <a href="#" class="col xs-col-3">
              <img src="https://s3-static-ak.buzzfed.com/static/2016-01/21/18/campaign_images/webdr09/weird-ways-guys-say-i-love-you-2-12782-1453419525-1.jpg" width="100%">
            </a>
            <div class="col xs-col-9 xs-pl1">
              <a href="#" class="bold text-6 link-gray xs-inline-block">14 Weird Ways Guys Say I Love You</a>
              <span class="text-7 text-orange xs-block bold">PROMOTED</span>
            </div>
          </li>
          <li class="clearfix xs-mb1">
            <a href="#" class="col xs-col-3">
              <img src="https://s3-static-ak.buzzfed.com/static/2016-01/22/14/campaign_images/webdr05/pigskin-a-blanket-nfl-conference-championship-pic-2-8986-1453492319-3.jpg" width="100%">
            </a>
            <div class="col xs-col-9 xs-pl1">
              <a href="#" class="bold text-6 link-gray xs-inline-block">Pigskin A Blanket: NFL Championship Picks</a>
            </div>
          </li>
          <li class="clearfix xs-mb1">
            <a href="#" class="col xs-col-3">
              <img src="https://s3-static-ak.buzzfed.com/static/2016-01/21/17/campaign_images/webdr11/how-the-100-became-one-of-tvs-most-radically-quee-2-794-1453415576-1.jpg" width="100%">
            </a>
            <div class="col xs-col-9 xs-pl1">
              <a href="#" class="bold text-6 link-gray xs-inline-block">The Show That's Breaking Ground For Queer Representation</a>
            </div>
          </li>
          <li class="clearfix xs-mb1">
            <a href="#" class="col xs-col-3">
              <img src="https://s3-static-ak.buzzfed.com/static/2016-01/22/16/campaign_images/webdr05/its-dinnertime-yall-2-27207-1453497795-2.jpg" width="100%">
            </a>
            <div class="col xs-col-9 xs-pl1">
              <a href="#" class="bold text-6 link-gray xs-inline-block">7 Dinners To Make This Week</a>
            </div>
          </li>
          <li class="clearfix xs-mb1">
            <a href="#" class="col xs-col-3">
              <img src="https://s3-static-ak.buzzfed.com/static/2016-01/24/8/campaign_images/webdr05/the-hardest-wwe-royal-rumble-quiz-youll-ever-take-2-399-1453643267-5.jpg" width="100%">
            </a>
            <div class="col xs-col-9 xs-pl1">
              <a href="#" class="bold text-6 link-gray xs-inline-block">The Hardest WWE Royal Rumble Quiz You'll Ever Take</a>
            </div>
          </li>
          <li class="clearfix">
            <a href="#" class="col xs-col-3">
              <img src="https://s3-static-ak.buzzfed.com/static/2016-01/21/13/campaign_images/webdr04/21-lush-products-that-actually-do-what-they-say-2-3660-1453401303-15.jpg" width="100%">
            </a>
            <div class="col xs-col-9 xs-pl1">
              <a href="#" class="bold text-6 link-gray xs-inline-block">21 Lush Products That Actually Do What They Say</a>
            </div>
          </li>
        </ul>
      </div> -->

      <!--THIS SNIPPET TELLS THE ADS BELOW TO STICK WHEN THE BOTTOM OF TRENDING HITS THE TOP OF THE PAGE-->
      <!-- <div id="sticky-anchor"></div> -->
      <!--END OF STICKY SNIPPET-->
	<!-- </div>
  </div> -->


<!--   <script type="text/javascript">
    function sticky_relocate() {
      var window_top = $(window).scrollTop();
      var div_top = $('#sticky-anchor').offset().top;
      if (window_top > div_top) {
          $('#sticky').addClass('stick');
      } else {
          $('#sticky').removeClass('stick');
      }
  }

  $(function () {
      $(window).scroll(sticky_relocate);
      sticky_relocate();
  });
  </script> -->


