<!-- Right Column Of Content Matched To Our MVP, For UX Testing Purposes -->

	<!-- Trending Now -->
	<div class="rounded-top card-border trending-header--pink">

	  <div class="xs-mb3 xs-p2 rounded-bottom box-shadow--bottom fill-white clearfix line-height--reset">

			<a href="#">
	    	<h4 class="bold text-red">
	    		<svg class="trending-icon xs-mr1" width="512" height="512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M480.026 20l-212.328 85.658 84.162 48.587-79.503 137.7-137.693-79.502L-1 447.418l75.985 43.874 91.79-158.99 137.7 79.495L427.853 198.12l84.146 48.586L480.026 20z" fill="#eb2649" fill-rule="evenodd"/></svg>Trending On Tasty
	    	</h4>
	    </a>

	    <div class="xs-pt2 clearfix">
	      <ul class="list-unstyled bold">
	        <li class="clearfix xs-mb2">
	          <a href="#" class="xs-relative col xs-col-6 xs-pr1">
	            <span class="xs-absolute trending-tasty-number text-5 fill-red text-white bold">1</span>
	            <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-06/6/10/campaign_images/buzzfeed-prod-fastlane03/this-garlic-parmesan-chicken-pasta-bake-is-perfec-2-32268-1465222924-6.jpg" width="100%">
	          </a>
	          <div class="col xs-col-6">
	            <a href="#" class="bold text-5 link-gray xs-inline-block">This Garlic Parmesan Chicken Pasta Bake Is Perfect For A Low Maintenance Dinner</a>
	          </div>
	        </li>

	        <li class="clearfix xs-mb2">
	          <a href="#" class="xs-relative col xs-col-6 xs-pr1">
	            <span class="xs-absolute trending-tasty-number text-5 fill-red text-white bold">2</span>
	            <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-06/3/15/campaign_images/buzzfeed-prod-fastlane03/these-cinnamon-sugar-pretzel-bites-are-all-the-fl-2-9803-1464980974-7.jpg" width="100%">
	          </a>
	          <div class="col xs-col-6">
	            <a href="#" class="bold text-5 link-gray xs-inline-block">Get Into These Cinnamon Sugar Pretzel Bites Just Because They’re Awesome</a>
	          </div>
	        </li>

	        <li class="clearfix xs-mb2">
	          <a href="3" class="xs-relative col xs-col-6 xs-pr1">
	            <span class="xs-absolute trending-tasty-number text-5 fill-red text-white bold">3</span>
	            <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-05/31/16/campaign_images/buzzfeed-prod-fastlane03/heres-four-ways-to-make-incredibly-beautiful-dess-2-12669-1464725161-3.jpg" width="100%">
	          </a>
	          <div class="col xs-col-6">
	            <a href="#" class="bold text-5 link-gray xs-inline-block">Here Are Four Ways To Make Incredibly Beautiful Desserts With Puff Pastry</a>
	          </div>
	        </li>

	        <li class="clearfix xs-mb2">
	         <a href="#" class="xs-relative col xs-col-6 xs-pr1">
	            <span class="xs-absolute trending-tasty-number text-5 fill-red text-white bold">4</span>
	            <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-05/31/11/campaign_images/buzzfeed-prod-fastlane02/try-these-amazing-and-incredible-one-pan-baby-bac-2-8434-1464710283-0.jpg" width="100%">
	          </a>
	          <div class="col xs-col-6">
	            <a href="#" class="bold text-5 link-gray xs-inline-block">Try These Amazing And Incredible One-Pan Baby Back Ribs This Summer</a>
	          </div>
	        </li>

	        <li class="clearfix xs-mb2">
	          <a href="#" class="xs-relative col xs-col-6 xs-pr1">
	            <span class="xs-absolute trending-tasty-number text-5 fill-red text-white bold">5</span>
	            <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-05/31/11/campaign_images/buzzfeed-prod-fastlane02/make-this-slow-cooker-balsamic-chicken-for-an-eas-2-8438-1464710152-4.jpg" width="100%">
	          </a>
	          <div class="col xs-col-6">
	            <a href="#" class="bold text-5 link-gray xs-inline-block">Make This Slow Cooker Balsamic Chicken For An Easy Dinner This Week</a>
	          </div>
	        </li>
	      </ul>
	    </div>

	  </div>
	</div>



