<header class="xs-t0 xs-l0 xs-col-12 xs-z4 xs-py2 fill-white box-shadow--bottom nav">
  <div class="content-width xs-mx-auto">

    <a class="xs-col-3 xs-inline-block" href="#home">
      <img style="margin-top: -17px" class="xs-t0 xs-absolute" src="images/tastybf_logo.png">
    </a>

    <span class="xs-relative bold header__links">
      <a href="#news" class="link-blue xs-p2">News</a>
      <a href="#video" class="link-blue xs-p2">Video</a>
      <a href="#quizzes" class="link-blue xs-p2">Quizzes</a>
      <a href="#food" class="link-blue xs-p2">Food</a>
      <a href="#more" class="link-blue xs-p2">More<span class="xs-ml1 xs-relative ss-down text-6 more__caret"></span></a>
    </span>

  </div>
</header>
