<!-- Trending Now -->
<div class="rounded-top card-border trending-header--pink">

  <div class="xs-mb3 xs-p2 box-shadow--bottom  rounded-bottom fill-white clearfix">

    <h4 class="bold">
    <svg class="trending-icon xs-mr1" width="512" height="512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M480.026 20l-212.328 85.658 84.162 48.587-79.503 137.7-137.693-79.502L-1 447.418l75.985 43.874 91.79-158.99 137.7 79.495L427.853 198.12l84.146 48.586L480.026 20z" fill="#eb2649" fill-rule="evenodd"/></svg>Trending Videos
    </h4>

    <div class="xs-pb1 xs-pt2 clearfix">
      <ul class="list-unstyled">
        <li class="clearfix xs-mb1">
          <a href="#" class="col xs-col-5 xs-pr1">
            <span class="xs-absolute xs-px1 text-5 fill-red text-white bold">1</span>
            <img src="https://s3-ak.buzzfed.com/static/2016-01/22/20/campaign_images/webdr11/we-know-what-your-favorite-vice-is-based-on-your--2-26402-1453512605-5.jpg" width="100%">
          </a>
          <div class="col xs-col-7">
            <a href="#" class="bold text-6 link-gray xs-inline-block">Can We Guess Your Favorite Vice Based On Your Habits?</a>
          </div>
        </li>

        <li class="clearfix xs-mb1">
          <a href="#" class="col xs-col-5 xs-pr1">
            <span class="xs-absolute xs-px1 text-5 fill-red text-white bold">2</span>
            <img src="https://s3-static-ak.buzzfed.com/static/2016-01/22/11/campaign_images/webdr14/how-totally-obsessed-with-nutella-are-you-2-25663-1453478802-5.jpg" width="100%">
          </a>
          <div class="col xs-col-7">
            <a href="#" class="bold text-6 link-gray xs-inline-block">How Obsessed With Nutella Are You?</a>
          </div>
        </li>

        <li class="clearfix xs-mb1">
          <a href="3" class="col xs-col-5 xs-pr1">
            <span class="xs-absolute xs-px1 text-5 fill-red text-white bold">3</span>
            <img src="https://s3-static-ak.buzzfed.com/static/2016-01/22/8/campaign_images/webdr01/be-a-pie-2-13253-1453470554-14.jpg" width="100%">
          </a>
          <div class="col xs-col-7">
            <a href="#" class="bold text-6 link-gray xs-inline-block">24 Hilarious Tweets That Are The Story Of Your Life</a>
          </div>
        </li>

        <li class="clearfix xs-mb1">
         <a href="#" class="col xs-col-5 xs-pr1">
            <span class="xs-absolute xs-px1 text-5 fill-red text-white bold">4</span>
            <img src="https://s3-static-ak.buzzfed.com/static/2016-01/23/17/campaign_images/webdr06/13-parts-of-your-body-you-didnt-know-had-names-2-4269-1453588134-1.jpg" width="100%">
          </a>
          <div class="col xs-col-7">
            <a href="#" class="bold text-6 link-gray xs-inline-block">13 Body Parts You Didn't Know Had Names</a>
          </div>
        </li>

        <li class="clearfix xs-mb1">
          <a href="#" class="col xs-col-5 xs-pr1">
            <span class="xs-absolute xs-px1 text-5 fill-red text-white bold">5</span>
            <img src="https://s3-static-ak.buzzfed.com/static/2016-01/22/17/campaign_images/webdr12/the-most-powerful-photos-of-this-week-jan-22-2-25115-1453500910-19.jpg" width="100%">
          </a>
          <div class="col xs-col-7">
            <a href="#" class="bold text-6 link-gray xs-inline-block">22 Of The Most Powerful Photos Of This Week</a>
          </div>
        </li>
      </ul>
    </div>

    <a class="xs-text-center text-5 xs-block bold" href="#">More Trending Videos</a>

  </div>
</div>
