@import "../node_modules/bf-solid/_lib/solid";

@font-face {
  font-family: "Caponi-Slab-Semibold";
  src: url("../fonts/Caponi/CaponiSlab-Semibold-Web.woff")  format("woff"); // IE9 Compat Modes
  src: url("../fonts/Caponi/CaponiSlab-Semibold-Web.ttf")  format("truetype"), // Safari, Android, iOS
       url("../fonts/Caponi/CaponiSlab-Semibold-Web.eot?#iefix") format("embedded-opentype"), // IE6-IE8
       url("../fonts/Caponi/CaponiSlab-Semibold-Web.eot"), // Pretty Modern Browsers
       url("../fonts/Caponi/CaponiSlab-Semibold-Web.svg#svgFontName") format("svg"); // Legacy iOS
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}


body {
	background-color: $background-color;
}


//body js

.content-width {
	max-width: $content-width;
	&--smaller {
		max-width: ($content-width)-10rem;
	}
}

.body-overlay {
	background-color: rgba(255, 255, 255, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: none;
}


// JS classes for the page drawer slide-out
.peepster-open {
	overflow: hidden;
	.body-overlay {
		display: block;
	}
}

.peepster-box-shadow {
	box-shadow: 4px 4.5px 5px 2.5px rgba(66, 66, 66, 0.58);
}

// Shitty line-height reset bc wtf

.line-height--reset {
	line-height: 1.25 !important;
}

