.header__links {
	top: 4px;
}
.header__logo {
	height: 1.625rem;
}

.box-shadow--bottom {
	-webkit-box-shadow: 0 8px 5px -7px #DDD;
	-moz-box-shadow: 0 8px 5px -7px #DDD;
	box-shadow: 0 8px 5px -7px #DDD;
}
