.header__links {
	top: 4px;
}
.header__logo {
	height: 1.625rem;
}

.box-shadow--bottom {
	-webkit-box-shadow: 0 7.5px 6px -9.5px #969595;
	-moz-box-shadow: 0 7.5px 6px -9.5px #969595;
	box-shadow: 0 7.5px 6px -9.5px #969595;
}
